<div class="modal map-message">
  <a href="#" class="icon-close modal-close-btn"></a>
  <div class="modal-content clearfix">
    <ico class="icon-announcement left"></ico>
    <h4><%= msg %></h4>
  </div>
</div>